.toolbar {
  width: 100%;
  height: 64px;
  display: flex;
  background-color: pink;
}

.toolbar > ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 35px;
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
}

.toolbar li {
  margin: auto 0;
  padding: 5px;
}
